body {
    background-color: #1f2937;
    font-family:'Roboto', Courier, monospace;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

a,
.hero-secondary-text {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 0px;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

img {
    height: 250px;
    width: 250px;
}

.hero-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}

.left-content {
    width: 450px;
    padding-left: 74.8px;
}

.right-content {
    padding-right: 187.7px;
}