body {
    background-color: #1f2937;
    font-family:'Roboto', Courier, monospace;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
}

a,
.hero-secondary-text {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 500px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 0px;
}

.hero-main-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

img {
    height: 250px;
    width: 250px;
}

.hero-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 500px 0px;
}